/* This file is for your main application css. */

@import "font-awesome";
@import "bootstrap";

body {
  margin: 0;
  padding: 0;
}

.content {
  margin: 1rem auto;
}

a:hover {
  cursor: pointer;
}
