<h1 class="page-title"><%= dngettext "menu", "Seasonal Product", "Seasonal Products", Enum.count(@seasonal_products) %></h1>
<div class="row">
  <%= for product <- @seasonal_products do %>
  <div class="col-md-3">
    <%= render VendyWeb.ProductView, "product_card.html", conn: @conn, product: product %>
  </div>
  <% end %>
</div>
