<div class="product card" style="margin: 1rem 0">
  <img src="<%= @product.image %>" alt="image of <%= @product.name %>" class="card-img-top" height="150px">
  <div class="card-body">
    <h4 class="product-name card-title"><%= @product.name %></h4>
    <p>
      $ <span class="product-price card-text"><%= @product.price %></span>
      <span class="pull-right"><%= @product.pack_size %></span>
    </p>
  </div>
</div>
